<h2 class="mb-2 text-center">{{ converterTitle }}</h2>

<div class="row mb-1 px-3">
	<div class="col">
		<label for="from-currency">Віддаю:</label>
		<select
			id="from-currency-select"
			class="form-control"
			[(ngModel)]="fromCurrency"
			(ngModelChange)="convertCurrency()"
		>
			<option value="UAH">UAH — Гривня</option>
			<option value="USD">USD — Доллар США</option>
			<option value="EUR">EUR — Євро</option>
		</select>
	</div>

	<div class="col">
		<label for="to-currency">Отримую:</label>
		<select
			id="to-currency-select"
			class="form-control"
			[(ngModel)]="toCurrency"
			(ngModelChange)="convertCurrency()"
		>
			<option value="UAH">UAH — Гривня</option>
			<option value="USD">USD — Доллар США</option>
			<option value="EUR">EUR — Євро</option>
		</select>
	</div>
</div>

<div class="row mb-4 px-3">
	<div class="col">
		<input
			type="number"
			id="from-currency"
			class="form-control"
			[(ngModel)]="fromValue"
			(ngModelChange)="convertCurrency()"
			autofocus
		/>
	</div>
	<div class="col">
		<input
			type="number"
			id="to-currency"
			class="form-control"
			[(ngModel)]="toValue"
			(ngModelChange)="convertCurrency()"
		/>
	</div>
</div>
